<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hai</h1>

    <div class="row mt-4 ms-5">
        <div class="col-lg-6 ">
        <table class="table ">
            <thead>
        <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>Email</th>
        <th>Block Status</th>
        
        
        </tr>
        
        
            </thead>
            <tbody>
              {{range .user}}
        <tr>{{.ID}}</tr>
        <tr>{{.Name}}</tr>
        <tr>{{.Email}}</tr>
        <tr>{{.Block_status}}</tr>
        {{end}}
        
        
            </tbody>
        
          
        </table>
        </div>
    </div>
    
</body>
</html> 